Package: {package}
Version: {version}
Section: utils
Priority: optional
Architecture: amd64
Installed-Size: {installed_size}
Maintainer: airgap-packager
Description: {description}
 Self-contained air-gapped package with all dependencies bundled.
 Install with: sudo dpkg -i <this-file>.deb
 The postinst script will install all bundled dependencies and
 copy the payload binary to /usr/local/bin/.
